Django==5.2.*
djangorestframework
django-tenants
djangorestframework-simplejwt
django-cors-headers
stripe
celery
django-celery-beat
redis
gunicorn
whitenoise
psycopg[binary]
django-environ>=0.11,<0.12
sentry-sdk[django,celery]>=2.0,<3.0
